<!doctype html>
<html ng-app="eventsApp">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="DatePickerController">
        <pre>Selected date is: <em>{{event.date | date:'fullDate' }}</em></pre>

        <h4>Popup</h4>
        <div class="row">
            <div class="col-xs-5">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="event.date" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>


        <hr />
        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="event.date = '2009-08-24'">2009-08-24</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMax()" tooltip="Max date restriction">Max date</button>
    </div>

    <!--
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="https://code.angularjs.org/snapshot/angular-resource.min.js"></script>
    -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/DatePickerController.js"></script>
</body>
</html>
