<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<body ng-cloak>
<div class="container" ng-controller="EditProfileController">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/NewEvent.html">New Event</a></li>
            </ul>
        </div>
    </div>
    <style>
        input.ng-invalid.ng-dirty { background-color: pink; }
    </style>
    <form name="profileForm">
        <div class="row">
            <div class="col-xs-3">
                <img ng-src="{{ getGravatarUrl(user.emailAddress) }}"/>
            </div>
            <div class="col-xs-9" style="margin-left: -20px;">
                <div class="row">
                    <div class="col-xs-8">
                        <label for="userName">User Name:</label>
                        <input focus id="userName" class="form-control" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="emailAddress">Email Address:</label>
                        <input id="emailAddress" type="email" class="form-control" placeholder="Email Address" ng-model="user.emailAddress" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="password">Password:</label>
                        <input id="password" class="form-control" required type="password" placeholder="Password" ng-model="user.password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input id="confirmPassword" class="form-control" required type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="name">Name:</label>
                        <input id="name" type="text" class="form-control" required placeholder="Name" ng-model="user.name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="bio">Bio:</label>
                        <textarea id="bio" rows="6" class="form-control" style="color:#52575c" placeholder="Bio" ng-model="user.bio"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <br/>
                        <button type="submit" ng-disabled="profileForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                        <button type="button" ng-click="cancelEvent()" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Load from CDN -->
<script data-require="jquery@*"     data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script data-require="underscore@*" data-semver="1.6.0" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script data-require="bootstrap@*"  data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!--
<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
<script src="https://code.angularjs.org/snapshot/angular-resource.min.js"></script>
-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>

<!-- Load Locally -->
<script src="js/app.js"></script>
<script src="js/controllers/EventController.js"></script>
<script src="js/controllers/EditProfileController.js"></script>
<script src="js/services/GravatarUrlBuilder.js"></script>
<script src="js/filters.js"></script>
</body>
</html>
